<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PayT</title>
       <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="modul/jqury.js"></script>
    <script src="modul/boot.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="modul/angular.js"></script>
    <script src="modul/ui.js"></script>
    <<script src="js/angular-module.js"></script>
    <script src="js/party.js"></script>
</head>
<body ng-app="demoAppModule" ng-controller="RefCorrespondentsAppController as demoApp">
<div class="wrapper1">
    <h1>
      ROYALITY
    </h1>
   </div>
  <div class="wrapper">
    
    <div class="progress">
        <div class="grayback"></div>
        <div class="strips"></div>
    </div>
    
      <div class="row">
    <div class="row">
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
   

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <button ng-click="demoApp.openModal()" type="button" class="btn btn-default navbar-btn">Создать кошелек
        </button>
    </div>
</div>


 <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Учасники проекта:</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Счет</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in demoApp.items" class="panel panel-default">
                        <td>{{item.cor_id}}</td>
                        <td>{{item.bill}}</td>                        
                       <td>
                            <button type="button" class="btn btn-default btn-sm"
                                    ng-click="demoApp.openModal(item)">
                                <span class="glyphicon glyphicon-edit"></span> Изменить
                            </button>
                        </td>  
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<!-- Шаблон для модального окна редактирования/создания записи справочника -->
<script type="text/ng-template" id="createOrEditItemTemplate.html">
    <div class="modal-header">
        <h4 class="modal-title">Внести средства</h4>
    </div>
    <form name="createItemForm">
        <div class="modal-body">
            <div class="form-group" ng-class="{'has-error':createItemForm.idField.$invalid}">
                <label for="idField" class="control-label">ID</label>
                <input type="text" required
                       ng-model="modalInstance.form.cor_id" class="form-control" id="cor_id" name="cor_id">
            </div>
          
                         
             <div class="form-group" ng-class="{'has-error':createItemForm.name.$invalid}">
                <label for="bill" class="control-label">Счет компании</label>
                <input type="text" required
                       ng-model="modalInstance.form.bill" class="form-control" id="bill" name="bill">
            </div>
                         

            <div ng-show="modalInstance.formError" class="form-group">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Ошибка:</span>
                    Заполните обязательные поля
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="modalInstance.cancel()" type="button" class="btn btn-default">Отмена</button>
            <button ng-click="modalInstance.create()" type="button" class="btn btn-primary"
                    ng-if="!modalInstance.isEditMode">Создать
            </button>
            <button ng-click="modalInstance.save()" type="button" class="btn btn-primary"
                    ng-if="modalInstance.isEditMode">Сохранить
            </button>
        </div>
    </form>
</script>

<!-- Отображение сообщения -->
<script type="text/ng-template" id="messageContent.html">
    <div class="modal-body" id="modal-body">
        {{ modalInstanceTwo.message }}
    </div>
</script>

</body>
</html>